.App {
  align-items: center;
  background-color: #1b007a;
  aspect-ratio: 0.72/1;
  
}

.App-header {
  background-color: #1b007a;
  font-family: Arial, Helvetica, sans-serif;
  aspect-ratio: 9/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.box {
  width: 1100px;
  height: 45%;
  border: 10px groove #0293cc;
  border-radius: 25px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
p{
  font-size: 25px;
  margin-top: 0;
  align-self: center;

}
button{
  color: #1b007a;
  font-size: 25px;
  border-radius: 25px;
  padding: 10px;
  border: 4px solid #18025c;
  margin: auto;


}

.listoptions1{
  width: 475px;
  margin-bottom: 30px;
  padding: 15px;
  border: 10px groove #0293cc;
  border-radius: 25px;

}

.listoptions2{
  width: 475px;
  margin-bottom: 30px;
  padding: 15px;
  border: 10px groove #0279a8;
  border-radius: 25px;
  
}
td{
  width: 400px;
  align-content: center;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
table{
  margin: auto;
}

h1{
  font-size: 100px;
}
h2{
  font-size: 40px;
  align-self: center;
}
h3{
  font-size: 30px;
  align-self: center;
}
Select{
  width:20px;
}

img{
  align-self: center;
  border-radius: 25px;
  margin-bottom: 15px;
}

.modal {  
  font-size: 50px;
  text-align: center;
  width: 1200px;
  justify-content: center;
  background-color: aliceblue;
  border: 10px groove #0293cc;
  color:black;

}
